<body>
  <app-navbar></app-navbar>
  <div class="container">
    <h1>Bem-vindo!</h1>
    <p>Este é o meu portfólio, onde apresento meus projetos e habilidades.</p>
    <h2 class="section-title">Habilidades</h2>
    <div class="skills-grid">
      @for (skill of skills; track skill.name) {
      <div class="skill-card">
        <img
          [src]="skill.logo"
          [alt]="skill.name + ' logo'"
          width="40"
          height="40"
        />
        <div>
          <h4>{{ skill.name }}</h4>
          <p>{{ skill.level }}</p>
        </div>
      </div>
      }
    </div>
  </div>
  <app-footer></app-footer>
</body>
