html{
    background-color:  #f9f9f9;
}

:host {
    display: block;
    width: 100%;
}

nav {
    background: #444;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-item{
    cursor: pointer;
}
