@import 'bootstrap/dist/css/bootstrap.min.css';

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-behavior: smooth;
}